.slider {
  position: relative;
  img {
    height: 616px;
    width: $_100;
    @media screen and (min-width: 600px), (max-width: 767px) {
      height: 450px;
    }
  }
  .slider-text {
    position: absolute;
    right: 20%;
    left: 25%;
    top: 25%;
    .hero-img {
      max-width: 800px;
      img {
        width: $_100;
        height: 200px;
        @media screen and (min-width: 600px), (max-width: 767px) {
          height: 100px;
        }
      }
    }
    .hero-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      @media screen and (min-width: 600px), (max-width: 767px) {
        flex-direction: column;
        gap: 25px;
      }
      h1 {
        text-transform: uppercase;
        color: $textColor2;
        font-size: $margin24;
        @media screen and (min-width: 600px), (max-width: 767px) {
          font-style: $fontSize16;
          text-align: center;
          font-size: 18px;
        }
      }
      .button {
        a {
          @include a($textColor2);
        }
        .normal {
          @include normal();
          border: 1px solid $textColor2;
          &:hover {
            @include hoverNormal($textColor2, $textColor3);
          }
        }
        .hover {
          @include hover($fontSize12);
          &::after {
            @include hoverAfter(
              url(/assets/image/link-arrow-white.svg) 50% 50% no-repeat,
              $fontSize12 $fontSize12,
              $fontSize14,
              $fontSize14
            );
          }
        }
      }
    }
  }
}
