$maxWidth: 80%;
$_100: 100%;
$background: #f5f2f0;
$textColor1: #333;
$textColor2: #fff;
$textColor3: #000;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$margin100: 100px;
$margin24: 24px;