* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  // @media screen and (min-width: 780px) { 
  //   padding: 0 24px;
  // }
}

@import './abstracts/variable';
@import './abstracts/mixin';

@import './layout/header';
@import './layout/slider';
@import './layout/main';
@import './layout/footer';
